/* AuditLogs page styles */

.audit-logs {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.audit-logs__iframe {
    flex: 1;
    width: 100%;
    border: none;
    display: block;
    background: hsl(222, 47%, 7%);
}